<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Artikel Badges</label>

    <version>2.0.2</version>
    <link>https://github.com/marcmanusch</link>
    <author>Marc Manusch</author>
    <compatibility minVersion="5.2.0" />
    <description lang="de">
        <![CDATA[
        <h1>Plentymarkets Freitextfelder als Badges</h1>
        <p>Das Plugin fügt ein Badge im Listing hinzu.</p>
        ]]>
    </description>

    <changelog version="2.0.2">
        <changes lang="de">FIX: non cache variables</changes>
    </changelog>

    <changelog version="2.0.1">
        <changes lang="de">ADD: Possibility to configutare ribbon, badges in pluginconfig</changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de">ADD: Service decoration ListProductService</changes>
        <changes lang="de">ADD: Ribbon on detail page</changes>
    </changelog>

    <changelog version="1.0.3">
        <changes lang="de">Bugfix</changes>
    </changelog>

    <changelog version="1.0.2">
        <changes lang="de">Bugfix - udate for SW v5.5 compatibility</changes>
    </changelog>

    <changelog version="1.0.1">
        <changes lang="de">Change Event for register Template (Theme_Inheritance_Template_Directories_Collected)</changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Release</changes>
    </changelog>

</plugin>
